/*resert*/
body,div,h1,a,p,ul,li,dl,dt,dd{margin:0; padding: 0;}
#header,#banner,#content,#footer{width:1000px; margin: 0 auto;}
img{border: none;}
h1{font-size: 100%;)}

/*背景*/
html{background: url(img/bg.gif) repeat-x;}
body{background: url(img/clouds.gif) repeat-x; margin-top: 45px;font-family:Verdana, Geneva, sans-serif;}

/*头部header*/
#header{overflow: hidden;}
#logo{float: left; width: 220px; height: 54px; background: #991616;}
#logo img{display: block;}
#nav{float: left; height: 54px; width: 780px;background-color: #393838;list-style: none; }
#nav li{float: left;}
#nav li a{display: block; width: 86px; text-align: center; color:#ccc; height: 54px; 
			line-height: 54px; #fff; text-decoration: none; font-size: 12px; float: left;}
#nav li a:hover{color: #fff; background-color: #222;}
#nav li .navActive{background: url(img/navHoverBg.png) no-repeat; color: #ccc;}

/*banner*/
#banner{width: 1000px; height: 292px;margin: 10px auto; display: block;}
#banner img{display: block;width: 1000px; height: 292px;}

/*content内容*/
#content{overflow: hidden; background: #eaeaea;font-size: 12px; line-height: 24px;}
#leftArticle,#rightInfo{margin: 10px; float: left; display: inline;}
#leftArticle{width: 660px;}
#rightInfo{width: 300px;}

#articleBanner,#articleBanner img{display: block;}
#leftArticle h1{margin: 20px 0; font-size: 24px; font-family: "Microsoft YaHei"}
#leftArticle h1 a{color: #900; text-decoration: none;}
#leftArticle h1 a:hover{text-decoration: underline;}
#leftArticle p{font-size: 14px; text-indent: 2em; color: #333; margin-bottom: 30px;}

#rightInfo dl dt{background: url(img/title.jpg) no-repeat;height: 32px;line-height: 32px;
				text-indent: 20px; font-size: 14px; font-weight: bold; color: #ccc;}
#rightInfo dl dd{background: url(img/dot.gif) no-repeat 7px 10px; height: 24px; 
				line-height: 24px; text-indent: 16px;}
#rightInfo dl dd a{color: #333; text-decoration: none;}
#rightInfo dl dd a:hover{color: #900; text-decoration: underline;}

/*底部footer*/
#footer{background: #393838; text-align: center;color: #ccc; height: 52px; font-size: 12px;
		padding-top: 18px; margin-top: 10px; line-height: 18px;}
#footer a{color: #ccc; text-decoration: none;}
#footer a:hover{ text-decoration: underline;}